<link href="/css/typeahead.min.css" rel="stylesheet">

<div class="container my-4 text-center">
  <h1>USER SETTINGS</h1>
</div>

<div class="container border-0 edit-profile-page-bg">
  <div class="row feature border-0 rounded-0 ">
    <div class="container px-5">
      <div class="container">
        <div class="col-12">
        <% @settings.organize_definitions.each do |group| %>
          <h1><%= group[0].capitalize %></h1>
          <% group[1].each do |setting| %>
            <b><%= setting[1][:frendly_name] %></b> <%= setting[1][:frendly_description] %> <br>
          <% end %>
        <% end %>
        <hr>
    </div>
     </div>
    </div>
    <br/>
    <br/>
  </div>
</div>